<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1><%= t('.title') %></h1>
    <%= link_to t('.to_diagnoses'), diagnoses_new_path, class: "btn btn-primary", role: "button" %>
  </div>
</div>