<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <table id="js-table-comment" class="table">
      <%# render partial: 'comment', collection: comments の省略 %>
      <%= render comments %>
    </table>
  </div>
</div>
