<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: comment, url: [board, comment], id: 'new_comment', local: false, remote: true do |f| %>
    <%# form_withのlocal: trueオプションを外したことにより、デフォルトしてのremote: trueの状態になっている %>
      <%# render 'shared/error_messages', object: f.object 　←Ajax化に伴いこのエラーメッセージもコメントアウトする%>
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control mb-3', id: 'js-new-comment-body', row: 4,  placeholder: Comment.human_attribute_name(:body) %>
      <%= f.submit t('defaults.post'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
