@charset "UTF-8";
/* line 1, ../../../renew_ポートフォリオ/dog_app/tailtales/app/assets/stylesheets/top.scss */
.top-wrapper {
  background-image: url(/assets/top-652152b08c05445e9ac1d38fd37ed5eb8babb1671fad13ac80276186fefbe965.jpg);
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
}

/* line 7, ../../../renew_ポートフォリオ/dog_app/tailtales/app/assets/stylesheets/top.scss */
.top-wrapper .top-inner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
}

@media screen and (max-width: 767px) {
  /* line 7, ../../../renew_ポートフォリオ/dog_app/tailtales/app/assets/stylesheets/top.scss */
  .top-wrapper .top-inner-text {
    font-size: 2.0rem;
  }
}
