<style>

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }

  .card {
    border-radius: 15px; /* 適切な角の半径に調整 */
  }

  .card-title {
    font-weight: bold;
  }

  .card-title-group {
    color: white;
    margin-bottom: 20px; /* 適切な余白に調整 */
    font-weight: bold;
  }

  .card-title-group span  {
    color: black;
    font-size: 4rem;
  }

  body main {
    background-color: lightblue;
  }


</style>


<%# tail talesの紹介４窓のブロック %>
<main>
  <div class="album py-5 ">
    <div class="container">
      <h2 class="card-title-group text-center">Tail Talesの<span>4</span>つの特徴</h2>
      <div class="row row-cols-1 row-cols-md-3 g-3">
        <%# 1ブロック目 %>
        <div class="col-md-6 col-12"> <!-- col-md-6 と col-12 を追加 -->
          <div class="card shadow-sm text-center">
            <h2 class="card-title">01</h2>
            <h3 class="card-title">自分に合う犬種を発見する</h3>
            <%= image_tag 'top_explain_block_01.jpg', class: "bd-placeholder-img card-img-top", width: "100%", height: "400"%>
            <div class="card-body">
              <p class="card-text">たった1分の犬種診断で自分のライフスタイルに合う犬種を発見！<br>今まで知らなかった新しい犬種に出会えるかも・・・！</p>
            </div>
          </div>
        </div>
        <%# 2ブロック目 %>
        <div class="col-md-6 col-12"> <!-- col-md-6 と col-12 を追加 -->
          <div class="card shadow-sm text-center">
            <h2 class="card-title">02</h2>
            <h3 class="card-title">犬種について詳しく知る</h3>
            <%= image_tag 'top_explain_block_02.jpg', class: "bd-placeholder-img card-img-top", width: "100%", height: "400"%>
            <div class="card-body">
              <p class="card-text">見た目や性格の特徴、歴史やどんな人に向いているのかについて<br>気になる犬種について詳しく知ることができます</p>
            </div>
          </div>
        </div>
        <%# 3ブロック目 %>
        <div class="col-md-6 col-12"> <!-- col-md-6 と col-12 を追加 -->
          <div class="card shadow-sm text-center">
            <h2 class="card-title">03</h2>
            <h3 class="card-title">飼っている人の投稿を見る</h3>
            <%= image_tag 'top_explain_block_03.jpg', class: "bd-placeholder-img card-img-top", width: "100%", height: "400"%>
            <div class="card-body">
              <p class="card-text">一般的な情報に加えて実際に飼っているユーザーの投稿からも<br>どんなわんちゃんなのかを知ることができます。</p>
            </div>
          </div>
        </div>
        <%# 4ブロック目 %>
        <div class="col-md-6 col-12"> <!-- col-md-6 と col-12 を追加 -->
          <div class="card shadow-sm text-center">
            <h2 class="card-title">04</h2>
            <h3 class="card-title">自慢のわんちゃんを投稿する</h3>
            <%= image_tag 'top_explain_block_04.jpg', class: "bd-placeholder-img card-img-top", width: "100%", height: "400"%>
            <div class="card-body">
              <p class="card-text">我が子の可愛い姿を投稿して犬種の魅力を共有しませんか？<br>飼おうか迷っている人に魅力を伝えて新規オーナーを増やしましょう！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
