// ---------------------------------------------tail talesの紹介４窓のブロックの装飾
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }

  .card {
    border-radius: 15px; /* 適切な角の半径に調整 */
  }

  .card-title {
    font-weight: bold;
  }

  .card-title-group {
    color: white;
    margin-bottom: 20px; /* 適切な余白に調整 */
    font-weight: bold;
  }

  .card-title-group span  {
    color: black;
    font-size: 4rem;
  }

  .feature-highlights {
    background-color: lightblue;
  }


// -----------------------------------こんなお悩みをお持ちの方への装飾 

.onayami {
    margin-top: 20px; /* 上部の余白を追加する値（必要に応じて調整） */
  }


  .featurette {
    /* 必要に応じてスタイルを追加 */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .featurette .col-md-7 {
    /* 必要に応じてスタイルを追加 */
    width: 60%; /* 例：アイコンと文章の横幅の調整 */
    position: relative;
    z-index: 1;
  }

  .featurette .col-md-5 {
    /* 必要に応じてスタイルを追加 */
    width: 40%; /* 例：アイコンと文章の横幅の調整 */
    position: relative;
    z-index: 2;
  }

  .featurette-heading {
    font-size: 1.5rem;
  }

  .featurette .col-md-7 {
    width: 60%;
    background-image: linear-gradient(90deg, rgba(200, 199, 199, 1), rgba(255, 253, 253, 1));
  }

  .custom-h1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mb-2-second {
    content: '';
    display: block;
    width: 100%; /* 下線の長さを調整 */
    margin: 0.5rem auto; /* 下線の位置を調整 */
    border-bottom: 9px solid rgba(255, 255, 0, 0.5);  /* 下線の色と太さを調整 */
  }

  /* メディアクエリを追加して、画面幅が 768px 未満のときにフォントサイズを小さくする */
  @media (max-width: 767px) {
    .featurette-heading {
      font-size: 1rem;
    }
    /* アイコンのサイズを小さくする */
    .fa-regular {
      font-size: 1.5em;
    }
  }